@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Ubuntu", sans-serif;
}

.new-font{
    font-family:  "Lugrasimo";
}

.amita{
    font-family: "Amita", serif;
}

.arya{
    font-family: "Arya", sans-serif;
}

.rubik{
    font-family: "Rubik Gemstones", system-ui;
}

.merienda{
    font-family: "Merienda", cursive;
    font-weight: 800;
}

.bharat:hover {
    background: linear-gradient(to right, #FF9933, #FFFFFF, #138808);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.display{
    display: ruby-text;
}